<script>
	var main_obj = <%= raw @riddles.to_json %>;
	var riddleAnswer = "JUMBO";
	var hiddenAnswer = "_____";
	var speechCapture = "";
	var attempts = 0;
	var correctAnswers = 0;
	var arr = [1,2,3,4,5];
	
	createjs.Sound.registerSounds(
	[
	<% @riddles["scenarios"].each do |scenario| %>
		<% scenario["audio"].each do |audio| %>
			<% unless audio[1]["filename"].blank? %>
				{ id: "<%= audio[0].to_s %>", src: "<%= audio[1]["filename"].to_s %>" },
			<% end %>
		<% end %>
	<% end %>
	
	]
	,"/audio/");
	
	var queue = new createjs.LoadQueue();
	createjs.Sound.alternateExtensions = ["mp3"];
	queue.installPlugin(createjs.Sound);
	queue.addEventListener("fileload", handleFileLoad);
	queue.addEventListener("complete", handleComplete);
	
	
	queue.loadManifest([
		<% @riddles["scenarios"].each do |scenario| %>
			<% scenario["audio"].each do |audio| %>
				<% unless audio[1]["filename"].blank? %>
					{ id: "<%= scenario["bot"].to_s + "_" + audio[0].to_s %>", src: "/audio/<%= audio[1]["filename"].to_s %>" },
				<% end %>
			<% end %>
		<% end %>
	]);
	
	function handleFileLoad(event) {
		// A sound has been preloaded. This will fire TWICE
		console.log("Preloaded:", event.id, event.src);
	}
	function handleComplete(event) {
		// A sound has been preloaded. This will fire TWICE
		console.log("Preloading Complete");
		enableStart();
	}
	
	function enableStart() {
		$("#startBtn").fadeIn();
		createjs.Sound.play("kitty_milk_ditty");
		$("#loadBar").fadeOut();
		arr.sort(function () {
                        return Math.random() - 0.5;
                });
	}
	
	function fadeBtns() {
		$(".btn").fadeOut();
	}
	
	function fadeMain() {
		$("#mainScreen").fadeOut();
	}
	
	function mainScreen() {
		$("#start_screen").fadeOut();
		fadeBtns();
		$('#visible_letters').text(getHiddenAnswer());
		$("#mainScreen").fadeIn();
	}
	
	function riddleBtn(parent) {
		$('#'+parent).children('.btn').fadeIn()
	}
	
	function loadScreen(name) {
		fadeMain();
		$('#'+name).fadeIn();
		riddleBtn(name);
	}
	function captureSound(callback) {
		var recognition = new webkitSpeechRecognition();
		recognition.lang = "en-US";
		recognition.onend = function (e) {
			if (callback) {
				callback('no results');
			}
		};
		recognition.onresult = function (e) {
            // cancel onend handler
            recognition.onend = null;
			
			console.log(e);
			console.log(e["results"][0][0]["transcript"]);
			$('#answer').text('Your Answer: ' + e["results"][0][0]["transcript"]);
			speechCapture = e["results"][0][0]["transcript"];
			
            if (callback) {
                callback(null, {
                    transcript: e.results[0][0].transcript,
                    confidence: e.results[0][0].confidence
                });
            }
        }
	
		recognition.start();
		
	}

	function goBack(botname) {
		$('#'+botname).fadeOut();
                        mainScreen();
                        attempts = 0;
                        clearAnswer()	
	}
	
	function hangMan() {
		$('#fridgeHint').text();
	}
	
	function captureSpeech() {
		captureSound('test', myCallBack);
		console.log('what?');
		alert('timing test');
	}
	
	function clearAnswer() {
		$('#answer').text('');
	}
	function fridgeScreen() {
		fadeMain();
		$('#fridgeScreen').fadeIn();
		
		str = hiddenAnswer.split('');

		for (i=0;i<correctAnswers;i++) {
			str[arr[i]] = riddleAnswer[arr[i]];
		}
		
		hiddenAnswer = getHiddenAnswer();
		$('#fridgeHint').text(hiddenAnswer);
		
	}
	function getHiddenAnswer() {
		str = hiddenAnswer.split('');

                for (i=0;i<correctAnswers;i++) {
                        str[arr[i]] = riddleAnswer[arr[i]];
                }
                
                return str.join('');
}
	function submitAnswer(answer, bot) {
		var currentBot;
		for (i=0;i<main_obj.scenarios.length;i++) {
			if (bot == main_obj.scenarios[i].bot) {
				currentBot = main_obj.scenarios[i];
			}
		}
		
		console.log(currentBot);
		if (answer == speechCapture) {
			createjs.Sound.play(currentBot["bot"] + "_success");
			correctAnswers++;
			$('#'+bot).fadeOut();
			$('#'+bot+'_btn').css({ 'pointer-events': 'none' });
			mainScreen();
			clearAnswer()
			attempts = 0;
		} else if ( attempts < 3 ) {
			createjs.Sound.play(currentBot["bot"] + "_wrong");
			attempts++;
			console.log(attempts);
		} else {
			createjs.Sound.play(currentBot["bot"] + "_failure")
			$('#'+bot).fadeOut();
			$('#'+bot+'_btn').css({ 'pointer-events': 'none' });
			mainScreen();
			attempts = 0;
			clearAnswer()
		}
	}
	
	function fridgeAnswer() {
		var msgText;
		var endPic;
		if (speechCapture.toLowerCase() == riddleAnswer.toLowerCase()) {
			msgText = "You win!";
			endPic = "/art/png/victorypage.png";
			fadeMain();
		} else {
			msgText = "You lose!";
			endPic = "";
		}
		
		clearAnswer();
		$('#message').text(msgText);
		$('#endPic').html('<img src="' + endPic + '">');
		$('#fridgeScreen').fadeOut();
		
		$('#endScreen').fadeIn();
		
	}
	
</script>

<audio controls autoplay hidden>
  <source src="/audio/kitty_milk_ditty.mp3" type="audio/mpeg">
</audio>

<div id="container">
	<div id="start_screen">   
		<div id="loadBar">Loading this shit</div>
		<div id="startBtn" onclick="mainScreen();" class="btn"></div>
	</div>
	<div id="answer"></div>
	
	
	<div id="mainScreen" hidden>
		<div id="visible_letters"></div>
		<% @riddles["scenarios"].each_with_index do |scenario, index| %>
			<div id="<%= scenario["bot"] %>_btn", class="bot" onclick="loadScreen('<%= scenario["bot"] %>')"><a href="#"></a></div>
		<% end %>
		<div id="fridge" onclick="fridgeScreen()"></div>
	</div>
	
	<div id="fridgeScreen" hidden>
		<div id="fridgeHint"></div>
		<div id="fridgeAnswer" onclick="captureSound();">
			Answer
		</div>
		<div id="fridgeSubmit" onclick="fridgeAnswer();">
			Submit
		</div>
		<div id="fridge_prop"></div>
	</div>	
	
	<div id="endScreen" hidden>
		<div id="message"></div>
		<div id="endPic"></div>
		<div id="resetBtn" class="btn">Reset</div>
	</div>
	
	<!-- Riddle screens -->
	<% @riddles["scenarios"].each_with_index do |scenario, index| %>
		<div class="riddle_screen" id="<%= scenario["bot"] %>" hidden>
			<h1><%= scenario["name"] %></h1>
			<div class="riddle_btn btn">
				<%= link_to("Ask the Riddle!", "#", :onclick => 'createjs.Sound.play("' + scenario["bot"].to_s + '_riddle")') %>
			</div>
			<div class="riddle_btn btn">
				<%= link_to("Answer", "#", :onclick => 'captureSound()') %>
			</div>
			<div class="riddle_btn btn">
				<%= link_to("Submit", "#", :onclick => "submitAnswer('" + scenario["answers"][0].to_s + "', '" + scenario["bot"] + "' )") %>
			</div>
			<div id="<%= scenario["bot"].to_s %>_prop"></div>
			<div class="go_back btn" onclick="goBack('<%= scenario["bot"].to_s %>')">Go Back</div>
		</div>
	<% end %>
	
	
	
	
</div>


